<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>

    <add key="GdbPath" value="D:\Data\EDGES.gdb"/>
    <add key ="GdbFeatureClassName" value="EDGES"/>

    <add key ="PgHost" value="192.168.1.100"/>
    <add key ="PgPort" value ="5432"/>
    <add key ="PgUser" value ="postgres"/>
    <add key ="PgPass" value="admin"/>
    <add key ="PgDb" value="postgis_rcl"/>
    <add key ="PgTableName" value="edges"/>

    <add key ="ServerLayerUrl" value=""/>
    <add key ="ServerName" value=""/>

    <add key ="UserGdbPath" value="D:\Data\temp.gdb"/>
    <add key="UserGdbFcName" value="temp"/>

  </appSettings>
</configuration>